/*********************** IMPORTS ***********************/

/*********************** FONTS ***********************/
@import url(http://fonts.googleapis.com/css?family=Oswald);
/*********************** /FONTS ***********************/
/*********************** CSS ***********************/
@import url("login.css");
/*********************** /CSS ***********************/

/*********************** GLOBAL ***********************/

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #000;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #fff;
}
.navbar-brand {
  font-weight: 700;
}

.navbar-default .navbar-brand {
  color: #2B6B1C;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav> a:focus {
  color: #2B6B1C;
  background-color: transparent;
  border-bottom: 2px solid #2B6B1C
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #2B6B1C;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background-image: url("../img/back.jpg");
  margin-top: -70px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 850px;
  width: 100%;  
  padding-bottom: 80px;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 80px;
  font-weight: bold;
}

#headerwrap h4 {
  font-weight: 400;
  color: #ffffff
}


.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 22px;
  border: 4px solid rgba(43,107,28,1);
  font: normal normal bold 20px/50px Arial, Helvetica, sans-serif;
  color: rgba(43,107,28,1);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,139,28,0);
}

.enjoy-css:hover {
  border: 4px solid rgba(48,64,44,1);
  color: rgba(48,68,44,1);
  background: rgba(255,174,0,0);
}