#headerwrap-login {
  background-image: url("../img/back.jpg");
  margin-top: -70px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 850px;
  width: 100%;
  padding-bottom: 80px;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap-login h3 {
  color:#2B6B1C;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 80px;
  font-weight: bold;
}

#headerwrap-login h4 {
  font-weight: 400;
  color: #ffffff
}

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: transparent;  
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
